@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Poppins", "Noto Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

.h-content {
    height: calc(100vh - 72px);
}
.h-max-content {
    max-height: calc(100vh - 72px);
}

.noscrollbar::-webkit-scrollbar {
    display: none;
}

.sb {
    scrollbar-width: auto;
    scrollbar-color: #c2c2c2 #0000;
}

.sb::-webkit-scrollbar {
    width: 16px;
}

.sb::-webkit-scrollbar-track {
    background: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

.fixtransition {
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.imagefilter {
    filter: contrast(1.1) brightness(0.9);
}

.chatPattern {
    background: radial-gradient(
            circle at bottom left,
            transparent 25%,
            #e6e6e6 25.5%,
            #e6e6e6 36%,
            transparent 37%,
            transparent 100%
        ),
        radial-gradient(
            circle at top right,
            transparent 34%,
            #e6e6e6 34.5%,
            #e6e6e6 45.5%,
            transparent 46%,
            transparent 100%
        );
    background-size: 3em 3em;
    background-color: #e9e9ec;
    opacity: 1;
}

.postAdd {
    animation: addPost ease forwards 1s;
}

.postRemove {
    position: relative;
    animation: removePost ease forwards 1s;
}

.optionsIn {
    animation: optionsIn ease forwards 0.3s;
}

.optionsOut {
    animation: optionsOut ease forwards 0.3s;
}

@keyframes addPost {
    from {
        transform: translateX(-110%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes removePost {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(110%);
        opacity: 0;
    }
}
@keyframes optionsIn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes optionsOut {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.bdnone {
    border: none !important;
}

.shopScroll {
    overflow-x: auto;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/* .shopScroll {
  scrollbar-width: thin;
  scrollbar-color: #575757 #21ff3300;
} */

/* Chrome, Edge and Safari */
.shopScroll::-webkit-scrollbar {
    height: 10px;

}
.shopScroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #0000;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.shopScroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #00000010;
}

.shopScroll::-webkit-scrollbar-thumb:hover {
    background-color: #00000018;
}

.shopScroll::-webkit-scrollbar-thumb:active {
    background-color: #00000018;
}

.shopRightGradient::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 100%;
    background: linear-gradient(90deg, #f1f1f100 0%, #f1f1f1 100%);
    pointer-events: none;
}

.TopGradient::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(0deg, #f1f1f100 0%, #f1f1f1 100%);
    pointer-events: none;
}

.BottomGradient::before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(180deg, #f1f1f100 0%, #f1f1f1 100%);
    pointer-events: none;
}

.shopLeftGradient::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 100%;
    background: linear-gradient(-90deg, #f1f1f100 0%, #f1f1f1 100%);
    pointer-events: none;
}
